RewriteEngine On
RewriteRule ^_showall\/?$ "/wiki/pages/show_all_page.php" [L]
RewriteRule ^_login\/?$ "/wiki/pages/login_page.php" [L]
RewriteRule ^_create\/?$ "/wiki/pages/create_page.php" [L]
RewriteRule ^_random\/?$ "/wiki/pages/random_page.php" [L]
RewriteRule ^$ "/wiki/pages/wiki_page.php?page=home" [L]
RewriteRule ^home\/?$ "/wiki/pages/wiki_page.php?page=home" [L]
RewriteRule ^([^/]*)/_edit$ /wiki/pages/edit_page.php?page=$1 [L]
RewriteRule ^([^/]*)/?$ /wiki/pages/wiki_page.php?page=$1 [L]
