RewriteEngine On
RewriteRule ^_showall\/?$ "/Wiki/pages/show_all_page.php" [L]
RewriteRule ^_logout\/?$ "/Wiki/pages/logout_page.php" [L]
RewriteRule ^_login\/?$ "/Wiki/functions/login.php" [L]
RewriteRule ^_create\/?$ "/Wiki/pages/create_page.php" [L]
RewriteRule ^_random\/?$ "/Wiki/pages/random_page.php" [L]
RewriteRule ^$ "/Wiki/pages/wiki_page.php?page=home" [L]
RewriteRule ^home\/?$ "/Wiki/pages/wiki_page.php?page=home" [L]
RewriteRule ^([^/]*)/_edit$ /Wiki/pages/edit_page.php?page=$1 [L]
RewriteRule ^([^/]*)/?$ /Wiki/pages/wiki_page.php?page=$1 [L]
