.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background: #212327;
}

.cookiealert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}

.cookie-consent-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    background: rgba(0,0,0,.5);
    bottom: 0;
}   

.cookie-consent-overlay.show {
    opacity: 1;
    z-index: 9999!important;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookie-buttons{
    margin-top: 5px;
}

[data-toggle="collapse"] .fa:before {   
    cursor: pointer;
    content: "\f062";
    color: grey;         /* adjust as needed */
  }
  
  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f063";
  }


.page-item.active .page-link{
    z-index: 1!important;
    color:#fff!important;
    background-color:#ce1022!important;
    border-color:#ce1022!important;
}

img{
    z-index: 99999999;
}
del{
    background:#fcc;
    text-decoration: none!important;
}
ins{
    background:#cfc;
    text-decoration: none!important;
}

.tags{
    visibility: hidden;
}

#button {
    display: inline-block;
    background-color: #ce1022;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }