body {
    background-color: #262626!important;
}

.card, .breadcrumb, .modal-content, .editormd-html-preview, .bg-dark, .nav-link.active, .list-group-item{
    background-color: #2b2828!important;
}

p, sub, h1, h2, h3, h4, h5, .card-header, lable, .custom-control-label, .breadcrumb-itemactive{
    color: white;
}

ul, li::before{
    color: white;
}

.nav-pills{
    background-color: #2f2d2d !important;
    border-radius: 5px;
    height: 100%;
}

.list-group-item{
    background-color: #383838!important;
}

.list-group-item:hover{
    background-color: #353030!important;
}

.show-all-small{
    color: rgb(163, 163, 163);
}

.form-control{
    color: white!important;
    border: 1px solid #2f2f2f!important;
    background-color: #424242!important;
}

:target {
    display: block;
    position: relative;
    top: -95px; 
    visibility: hidden;
}

.navbar-dark .navbar-text a {
    color:#0f0f0f!important;
}

.settings-section{
    margin-bottom: 40px;
}

.settings-section-modal{
    margin-bottom: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color:#ce1022!important;
}

img{
    padding: 0px 20px 0px 20px;
}

.editormd-preview-close-btn{
    display: none!important;
}