:target {
    display: block;
    position: relative;
    top: -95px; 
    visibility: hidden;
}

img{
    padding: 0px 20px 0px 20px;
}

.editormd-preview-close-btn{
    display: none!important;
}

.breadcrumb{
    background-color: #ececec !important;
}

.darkmode-toggle{
    background: #4f4f51!important;
}

/* Dark mode*/

.darkmode--activated .card, .darkmode--activated .editormd-html-preview, .darkmode--activated .bg-dark, .darkmode--activated .nav-link.active{
    background-color: #222121!important;
}

.darkmode--activated p, .darkmode--activated sub, .darkmode--activated h1, .darkmode--activated h2, .darkmode--activated h3, .darkmode--activated h4, .darkmode--activated h5, .darkmode--activated .card-header{
    color: white;
}

.darkmode--activated ul, .darkmode--activated li::before{
    color: white;
}