body {
    background: repeating-linear-gradient(
        45deg,
        #ffffff,
        #ffffff 40px,
        #ce1022 40px,
        #ce1022 60px
      );
}

p, sub, h1, h2, h3, h4, h5, .card-header, lable{
    color: red;
}

:target {
    display: block;
    position: relative;
    top: -95px; 
    visibility: hidden;
}

.navbar-dark .navbar-text a {
    color:#0f0f0f!important;
}

.settings-section{
    margin-bottom: 40px;
}

.settings-section-modal{
    margin-bottom: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color:#ce1022!important;
}

img{
    padding: 0px 20px 0px 20px;
}

.editormd-preview-close-btn{
    display: none!important;
}